:root{
  --text-color: orange;
  --box-color:rgb(168, 159, 142);
}

*{
  margin: 0;
}

html{
  background-image: url(../image/Красный.jpg);
  background-size: cover;

}

div{
  background-color: var(--box-color);
  margin: 4px ;
  padding: 5px 10px 10px 10px;
  border: 1px solid;
  box-sizing: border-box;
}

html{
  font-size: 3vw;
  color:black;
}

h1{
  text-align: center;
  margin:30px;
  font-size: 2rem;
}

h3{
  margin-bottom: 5px;
}

h1,h3{
  color: var(--text-color);
}

.link{
  display: block;
  margin: 10px;
  height: 5vh;
  width: 10vw;
  font-size: 70%;
  margin-left: 87%;
}

.link:hover{
  color: brown;
}


img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  height:35%;
  width: 35%;
}





